

.md\:bg-white {
  --tw-bg-opacity: 1;
  background-color: rgba(42, 85, 164, 1);
}

.text-gray-900 {
  --tw-text-opacity: 1;
  color: white;
}

.p-4 {
  padding: 0.5rem;
}

.px-4 {
  padding-left: 2rem;
  padding-right: 2rem;
}
